.cardmod {
    width: 30em;
    height: 35em;
}

input {
    border-radius: 10px;
    margin-bottom: 2em;
    border: 1px solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.2em;
}

button {
    border-radius: 10px;
    margin-left: 0.5em;
    border: 1px solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.2em;
}